@model DarboOrganizavimoPlatforma.Web.Models.NewTeamAssignmentViewModel

@{
    ViewData["Title"] = "CreateTeamAssignment";
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8 offset-sm-2">
                <h1 class="text-center">Create Team Assignment</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>
<!-- Main content -->
<section class="content justify-content-center">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-3">
            <form method="post"asp-route-TeamId="@Model.CurrentTeamId" asp-controller="Assignment" asp-action="CreateTeamAssignment">
                <div class="card card-primary row">
                    <div class="card-header">
                        <h3 class="card-title">New Assignment</h3>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group mb-3">
                                    <label asp-for="AssignmentName" class="control-label"></label>
                                    <input asp-for="AssignmentName" class="form-control" />
                                    <span asp-validation-for="AssignmentName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group mb-3">
                                    <label asp-for="AssignmentDescription" class="control-label"></label>
                                    <textarea asp-for="AssignmentDescription" class="form-control" rows="4"></textarea>
                                    <span asp-validation-for="AssignmentDescription" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a class="btn btn-secondary float-right" asp-controller="Assignment" asp-route-TeamId="@Model.CurrentTeamId" asp-action="GetTeamAssignmentList">Back to Teams Assignment List</a>
                        </div>
                    </div>
                </div> <!-- /.card -->
            </form>
        </div>
    </div>
</section><!-- /.content -->