@model DarboOrganizavimoPlatforma.Web.Models.NewTeamAssignmentViewModel

@{
    ViewData["Title"] = "CreateTeamAssignment";
}

<h1>Create</h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-route-TeamId="@Model.CurrentTeamId" asp-action="CreateTeamAssignment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="AssignmentName" class="control-label"></label>
                <input asp-for="AssignmentName" class="form-control" />
                <span asp-validation-for="AssignmentName" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="AssignmentDescription" class="control-label"></label>
                <textarea asp-for="AssignmentDescription" class="form-control" rows="4"></textarea>
                <span asp-validation-for="AssignmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Assignment" asp-route-TeamId="@Model.CurrentTeamId" asp-action="GetTeamAssignmentList">Back to Teams Assignment List</a>
</div>

