@model DarboOrganizavimoPlatforma.Web.Models.EditAssignmentViewModel
@using DarboOrganizavimoPlatforma.Domains;

@{
    ViewData["Title"] = "EditAssignment";
}

<h1>Edit @Model.AssignmentName </h1>

<h4>Assignment</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-controller="Assignment" asp-route-AssignmentId="@Model.AssignmentId" asp-action="EditAssignment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssignmentName" class="control-label"></label>
                <input asp-for="AssignmentName" class="form-control" />
                <span asp-validation-for="AssignmentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentDescription" class="control-label"></label>
                <input asp-for="AssignmentDescription" class="form-control" />
                <span asp-validation-for="AssignmentDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssignmentStatus">Select Assignment Status</label>
                <select class="form-control" asp-for="AssignmentStatus" asp-items="Html.GetEnumSelectList<CompletionStatus>()">
                    <option selected></option>
                </select>
                <span asp-validation-for="AssignmentStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@if (User.IsInRole("Admin"))
{
    <a asp-controller="Assignment" asp-action="GetAllAssignments" class="btn btn-primary" style="width:auto">Back to Assignment List</a>
}
else
{
    <a asp-controller="Assignment" asp-route-TeamId="@Model.TeamId" asp-action="GetTeamAssignmentList" class="btn btn-primary" style="width:auto">Back to Team Assignment List</a>
}


