@using Microsoft.AspNetCore.Identity
@using DarboOrganizavimoPlatforma.Domains

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - DarboOrganizavimoPlatforma/WOP LoginPage</title>

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/css/signin.css" rel="stylesheet">
    @RenderSection("Styles", false)
    @RenderSection("Scripts")
</head>
<body class="text-center">
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- jquery-validation -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/jquery.validate.js"></script>
    <script src="~/js/additional-methods.min.js"></script>
</body>
</html>
