
@using Microsoft.AspNetCore.Identity
@using DarboOrganizavimoPlatforma.Domains

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager

@{
    var Name = UserManager.GetUserName(User);
}
@if (User.Identity.IsAuthenticated)
{
        <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item">
                <i class="fas fa-user-alt"></i>
                <p>@User.Identity.Name</p>
            </li>
            <li class="nav-item">
                <a asp-controller="Auth" asp-action="Logout" class="btn btn-link navbar-btn navbar-link">
                    <i class="fa fa-sign-out-alt"></i>
                    <p>Logout</p>
                </a>
            </li>
        </ul>
}