@model DarboOrganizavimoPlatforma.Web.Models.ManagerCreateUserViewModel
@{
    ViewData["Title"] = "CreateUser";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-8 offset-sm-2">
                <h1 class="text-center">Create User</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 col-md-6 offset-sm-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">New Team</h3>
                </div>
                <form asp-controller="Manager" asp-action="CreateUser">
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="MemberName">Member name</label>
                                    <input asp-for="MemberName" type="text" class="form-control" id="inputName">
                                    <span asp-validation-for="@Model.MemberName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Email">Email address</label>
                                    <input asp-for="Email" type="email" class="form-control">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="Password">Password</label>
                                    <input asp-for="Password" type="password" class="form-control">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword">Password Confirm</label>
                                    <input asp-for="ConfirmPassword" type="password" class="form-control" id="exampleInputPassword2">
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label asp-for="UserRole">Select a Role for the User</label>
                                    <select class="form-control" asp-for="UserRole" asp-items=@ViewBag.ManagerRoleList>
                                        <option selected></option>
                                    </select>
                                    <span asp-validation-for="UserRole" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div> <!-- /.card-body -->
                    <div class="card-footer">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <a class="btn btn-secondary float-right" asp-controller="Manager" asp-action="CompanyMemberList">Back Company Member List</a>
                        </div>
                    </div>
                </form>
            </div>
            <!-- /.card -->
        </div>
    </div>
</section><!-- /.content -->


@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
