@model DarboOrganizavimoPlatforma.Web.Models.ChangePassAndEmailViewModel

@{
    ViewData["Title"] = "AddTeamMember";
}


<section class="content-header">
    <div class="container-fluid">
        <div class="row text-center">
            <div class="col-12 col-sm-12">
                <h1>Change Password And/Or Email</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="card card-outline card-primary">
                    <div class="card-body">
                        <p class="login-box-msg">You are only one step a way from your new password</p>
                        <form asp-controller="Member" asp-action="ChangePasswordAndEmail">
                            @*asp-route-id="@Model.UserId"*@
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <span class="fas fa-at"></span><label for="email">Email address</label>
                                <input type="email" class="form-control" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <span class="fas fa-lock"></span><label for="Password">Password</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" asp-for="Password">
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <span class="fas fa-lock"></span><label for="Pasword Confirm">Password Confirm</label>
                                <input type="password" class="form-control" asp-for="ConfirmPassword">
                                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <a class="btn btn-warning" asp-controller="Member" asp-action="Profile">Cancel</a>
                                    <button class="btn btn-success float-right" type="submit">Change password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- card-body -->
                </div>
            </div>
        </div>
    </div>
</section>