@model DarboOrganizavimoPlatforma.Web.Models.EditProjectViewModel

@{
    ViewData["Title"] = "EditProject";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6 offset-sm-3">
                <h1>Edit @Model.ProjectName</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Project</h3>
                </div>
                <div class="card-body">
                    <form asp-controller="Project" asp-action="EditProject">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ProjectName" class="control-label"></label>
                            <input asp-for="ProjectName" class="form-control" />
                            <span asp-validation-for="ProjectName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ProjectDescription" class="control-label"></label>
                            <textarea asp-for="ProjectDescription" class="form-control" rows="4"></textarea>
                            <span asp-validation-for="ProjectDescription" class="text-danger"></span>
                        </div>
                        <div class="form-group ">
                            <input type="submit" value="Save Changes" class="btn btn-success float-left">
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-controller="Project" asp-action="GetAllProjects" class="btn btn-secondary float-right" style="width:auto">Back to Project List</a>
                            }
                            else
                            {
                                <a asp-controller="Manager" asp-action="CompanyProjectList" class="btn btn-primary float-right">Back to Project List</a>
                            }
                        </div>
                    </form>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
</section>
<!-- /.content -->

@section Scripts 
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}